<h1>Primer software de prueba de uso externo</h1>
<p>BIENVENID@</p><br>

<table>
    <tbody>
        <tr>
            <td> - - <b><a href="/place/show">GESTIONAR DATOS DEL LUGAR</a></b> - - </td>
        </tr>
    </tbody>
</table>